@import "foundation";
@import "variables";

.page-padder {
  margin-top: 96px;
}

.body-scroll-lock {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  min-width: 100vw;
  overflow: hidden;
  touch-action: none;
}

body.theme--dark {
  background-color: $color_grey-100;
}
