@import "mixins";
@import "variables";

.root-container {
  border-radius: 6px;
  min-width: 150px;
  flex-grow: 1;
  @include basic_flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8px;
  flex-basis: 0;
  border: 1px solid $color_grey-5;
  box-shadow: 0 0px 10px 0 rgb(0 0 0 / 10%);
  margin: 10px 4px 0 4px;

  @include on_dark_mode {
    background-color: $color_grey-90;
    border: 1px solid $color_grey-90;
  }
}

.border-top {
  border-radius: 999px;
  background-color: $color_blue-40;
  height: 6px;
  width: 100%;
  margin-bottom: 6px;
}

.content-wrapper {
  width: 100%;
}

.text-wrapper {
  width: 80%;
}

.box-content-wrapper {
  margin-top: 8px;

  &:first-of-type {
    margin-top: 0;
  }
}

.value {
  font-size: 1rem;
  color: $color_grey-100;
  margin-bottom: 6px;
  font-weight: 900;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;

  @include on_dark_mode {
    color: $color_grey-20;
  }
}

.type {
  font-size: 0.9rem;
  font-weight: 900;
  font-family: $font_secondary;
  color: $color_grey-30;
  letter-spacing: 0.2px;
}
