@import "variables";
@import "mixins";

.root-container {
  background-color: white;
  @include basic_flex;
  border-radius: 10px;
  border: 1px solid $color_grey-10;
  width: 100%;
  padding: 12px 10px;

  @media (max-width: 780px) {
    display: none;
  }

  @include on_dark_mode {
    background-color: $color_grey-95;
    border: 1px solid $color_grey-90;
  }
}

.back-button {
  @include basic_flex;
  background-color: $color_blue-10;
  border-radius: 999px;
  color: $color_grey-90;
  margin-right: auto;
  padding: 7px 10px 7px 8px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: $color_blue-20;
    & svg {
      color: $color_blue-90;
    }
  }

  & svg {
    color: $color_blue-80;
    height: 1rem;
    width: 1rem;
    margin-right: 4px;
  }

  @include on_dark_mode {
    background-color: $color_blue-30;

    &:hover {
      background-color: $color_blue-40;
      & svg {
        color: $color_blue-100;
      }
    }
  }
}

.form-steps-container {
  @include basic_flex;
  margin-left: auto;
}

.form-step {
  padding: 6px 10px;
  margin: 0 4px;
  background-color: $color_blue-5;
  color: $color_grey-100;
  font-size: 12px;
  border-radius: 999px;
  font-weight: 500;
  font-family: $font-secondary;
  transition: all 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  @include on_dark_mode {
    background-color: $color_grey-80;
    color: $color_grey-30;
  }
}

.form-step-active {
  background-color: $color_blue-80;
  color: white;

  @include on_dark_mode {
    background-color: $color_blue-60;
    color: $color_grey-5;
  }
}
