@import "variables";
@import "mixins";

.wrapper {
  @include basic_flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  border-bottom: 1px solid $color_grey-10;
  transition: all 0.3s;
  padding-left: 4px;

  &:hover {
    background-color: #f6f6f7;
  }
}

.location-icon {
  width: 26px;
  height: 26px;
  color: $color_grey-40;
}

.dropdown {
  width: 100%;
  border: none;
  background: transparent;
  border-radius: 0;

  &:hover {
    background-color: transparent;
  }
}
