@import "mixins";
@import "variables";

.root-container {
  max-width: 1000px;
  margin: auto;

  @media (max-width: 1000px) {
    max-width: 800px;
  }
}

.wrapper {
  @include basic_flex;
  align-items: flex-start;
  margin: 0 10px;

  @media (max-width: 900px) {
    margin: 0 20px;
  }

  @media (max-width: 780px) {
    flex-direction: column;
    align-items: center;
  }
}

.container {
  @include basic_flex;
  flex-direction: column;
  width: 65%;
  border-radius: 10px;
  background-color: #f6f6f7;

  @media (max-width: 780px) {
    background-color: white;
    width: 90%;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

  @include on_dark_mode {
    background-color: $color_grey-100;
  }
}

.left-container {
  min-width: 200px;
  background-color: white;
  width: 35%;
  padding-right: 20px;

  @media (max-width: 780px) {
    width: 90%;
    padding-right: 0;
  }

  @media (max-width: 640px) {
    width: 100%;
  }

  & > p,
  h1 {
    @include on_dark_mode {
      color: $color_grey-10;
    }
  }
}

.your-product {
  font-size: 1.3rem;
  margin: 2rem auto 1rem 0;
  letter-spacing: 0.4px;
  color: $color_grey-100;
}

.user-input {
  margin-top: 12px;
  width: 100%;
}

.form-container {
  padding: 0 1.2rem;
  padding-bottom: 1.2rem;
  width: 100%;

  @media (max-width: 780px) {
    padding: 0;
  }
}

.product-text {
  font-family: $font_secondary;
  font-weight: 700;
  color: $color_grey-100;
  margin: 8px 0;
  width: 100%;
}

.product-text_secondary {
  font-family: $font_secondary;
  color: $color_grey-90;
  width: 100%;
}

.dropdown-input-wrapper {
  width: 32%;
  z-index: 10;
}

.dropdown-input-label {
  font-family: $font_secondary;
  width: 100%;
  font-weight: 500;
  margin-bottom: 4px;
  text-align: center;
}

.dropdown-input {
  background-color: white;
  margin-bottom: 1rem;
}

.flex-container {
  width: 100%;
  @include basic_flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.image-picker-wrapper {
  padding-bottom: 1rem;

  @media (max-width: 410px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.textarea {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  margin-bottom: 1rem;
}

.mobile-back-btn {
  display: none;
  background-color: $color_blue-10;
  border-radius: 999px;
  color: $color_grey-90;
  margin: auto;
  padding: 7px 10px 7px 8px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;

  &:hover {
    background-color: $color_blue-20;
    & svg {
      color: $color_blue-90;
    }
  }

  & svg {
    color: $color_blue-80;
    height: 1rem;
    width: 1rem;
    margin-right: 4px;
  }

  @media (max-width: 780px) {
    @include basic_flex;
  }
}
