@import "mixins";
@import "variables";

.wrapper {
  @include basic_flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1280px;
  margin: auto;
  width: 100%;
  padding: 0 1rem;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.image-viewer-container {
  width: 55%;
  @include basic_flex;
  flex-direction: column;

  @media (max-width: 980px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.image-viewer-wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.post-heading-wrapper {
  width: 45%;
  padding: 0 12px;

  @media (max-width: 980px) {
    width: 100%;
    padding: 0;
  }
}

.category-chip {
  background-color: $color-blue-40 !important;
  color: $color_grey-1 !important;

  @include on_dark_mode {
    background-color: $color-blue-70 !important;
    color: $color_grey-20 !important;
  }
}

.post-title {
  font-weight: 700;
  padding-top: 4px;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $color_grey-100;
  margin-bottom: 10px;

  @include on_dark_mode {
    color: $color_grey-2;
  }
}

.with-border-bottom {
  border-bottom: 1px solid $color_grey-5;
  @include on_dark_mode {
    border-bottom: 1px solid $color_grey-90;
  }
}

.header-info-wrapper {
  @include basic_flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.header-info-text {
  padding: 8px 1rem;
  white-space: pre;
  border-radius: 999px;
  width: 100%;
  text-align: center;
  flex-basis: 45%;
  &:first-of-type {
    @media (min-width: 500px) {
      margin-right: 10px;
    }
  }
}

.price {
  font-family: $font_secondary;
  background-color: $color-green-5;
  color: $color_green-100;
  font-weight: 700;

  @include on_dark_mode {
    background-color: $color-green-30;
  }

  @media (max-width: 500px) {
    margin: auto;
    flex-basis: 90%;
  }
}

.location-hide-desktop {
  @media (min-width: 500px) {
    display: none !important;
  }
}

.location-hide-mobile {
  @media (max-width: 500px) {
    display: none !important;
  }
}

.contact-accordion-wrapper {
  background-color: $color_grey-5;
  border-radius: 6px;
  padding: 12px 10px;
  transition: all 0.2s;
  cursor: pointer;
  @include basic_flex;
  margin-top: 10px;
  justify-content: space-between;

  &:hover {
    background-color: $color_grey-10;

    @include on_dark_mode {
      background-color: $color_grey-80;
    }
  }

  @include on_dark_mode {
    background-color: $color_grey-90;
  }
}

.contact-accordion-text {
  font-weight: 700;
  color: $color_grey-100;

  @include on_dark_mode {
    color: $color_grey-20;
  }
}

.accordion-icon {
  color: $color_grey-90;
  width: 1rem;
  transform-origin: center center;
  height: 1rem;
  transition: all 0.2s;

  @include on_dark_mode {
    color: $color_grey-30;
  }
}

.accordion-icon_open {
  transform: rotate(180deg);
}

.details {
  display: none;
  font-weight: 600;
  color: $color_grey-90;
  font-size: 1rem;
  margin-top: 10px;
  border-bottom: 1px solid $color_grey-1;

  @media (max-width: 980px) {
    display: block;
  }

  @include on_dark_mode {
    color: $color_grey-20;
    border-bottom-color: $color_grey-90;
  }
}

.info-box-hide-desktop {
  @media (min-width: 980px) {
    display: none !important;
  }
}

.info-box-hide-tablet {
  @media (max-width: 980px) {
    display: none !important;
  }
}

.description {
  font-weight: 600;
  margin-bottom: 6px;
  border-bottom: 1px solid $color_grey-5;
  color: $color_grey-100;

  @include on_dark_mode {
    color: $color_grey-5;
  }

  @media (min-width: 980px) {
    margin-top: 10px;
  }
}

.description-text {
  white-space: pre-wrap;
  font-family: $font_secondary;
  color: $color_grey-90;
  font-weight: 400;

  @include on_dark_mode {
    color: $color_grey-10;
  }
}
